{{.Header}}

{{.SystemPrompt}}

{{.ExtractionRulesHeader}}

{{.ClaimExtractionRules}}

{{.CompoundClaimInstructions}}

{{if .CompoundEvidence}}
{{.CompoundEvidenceHeader}}
{{range $claim, $evidence := .CompoundEvidence}}
Claim: "{{$claim}}"
{{$evidence}}
{{end}}

{{.CompoundEvidenceInstructions}}
{{end}}

{{.FactCheckingHeader}}

{{.AccuracyCheckingRules}}

{{.ProtocolVsImplementation}}

{{.ImplementationRecommendations}}

{{.InaccuracyExplanation}}

{{.CriticalSearchRequirement}}

{{.KeyDistinction}}

{{.CaseSensitivityNote}}

{{.ParaphrasingRules}}

{{.ImportantContextUnderstanding}}

{{.CriticalExposureRule}}

{{.ConceptualEquivalence}}

{{.SemanticUnderstanding}}

{{.CompoundClaimEvaluation}}

{{.InitializationFlowUnderstanding}}

{{.SpecificationGuidanceNote}}

{{.PatternRecognition}}

{{.UserContentHeader}}
{{.Content}}

{{.SpecificationSectionsHeader}}
{{.SpecContext}}

{{.ResponseFormatHeader}}

{{.ResponseFormat}}