{{.SystemPrompt}}

{{.ClaimHeader}}
{{.Claim}}

{{.SpecHeader}}
{{.SpecContext}}

{{.ValidationHeader}}
{{.ValidationRules}}

COMMON RESPONSE REQUIREMENTS:
{{.CommonResponseRequirements}}

{{.ResponseFormat}}